.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    margin: 10px;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* 调整间距 */
}

.input-container input {
    width: 300px;
    margin-right: 10px;
    font-weight: bold;
}

/* 设置按钮宽度 */
.input-container button {
    width: 100px; /* 或者其他固定值 */
}

.request1 {
    width: 100%;
}

.request2 {
    margin-right: 10px;
}